#container {
  background-color: gainsboro;
  height: 1500px;
  width: 450px;
  margin: 100px;
  position: relative;
}

.box {
  width: 120px;
  height: 120px;
  text-align: center;
  font-size: larger;
}

.spacer {
  height: 300vh;
}

/* z-index */
/* When elements are positioned, they can overlap other elements. The "z-index" property specifies the stack order of an element (which element should be placed in front of, or behind, the others) */


/* position: relative; */
/* An element with "position: relative;" is positioned relative to its normal position */
/* top, right, bottom, and left properties are used to position the element */
/* comment "position" property to see it's normal position */
#relative {
  background-color: red;
  position: relative;
  top: 50px;
  left: 50px;
}


/* position: fixed; */
/* An element with "position: fixed;" is positioned relative to the viewport (visible screen),
which means it always stays in the same place even if the page is scrolled */
/* top, right, bottom, and left properties are used to position the element */
#fixed {
  background-color: green;
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1;
}


/* position: absolute; */
/* An element with "position: absolute;" is positioned relative to the nearest positioned 'ancestor' not sibling */
/* By assigning "position: absolute;" element comes out of the flow of html document */
/* if an absolute positioned element has no positioned ancestors, it uses the document body, and moves along with page scrolling */
/* notice the word 'ancestor'('पूर्वज') */
/* here positioned ancestor is div with id="container", it has position="relative" */
#absolute {
  background-color: blue;
  position: absolute;
  bottom: 50px;
  left: 50px;
}


/* position: sticky; */
/* An element with "position: sticky;" is positioned based on the user's scroll position. */
/* if scrolling is left-right then give left property */
/* if scrolling is top-bottom then give top property */
#sticky {
  margin-left: 60%;
  background-color: pink;
  position: sticky;
  top: 50px;
  /* left: 50px; */
}