* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-container {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}

.inner-container-1 {
  background-color: red;
  height: 94vh;
  width: 44vw;
}

.inner-container-2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.items-1 {
  background-color: red;
  height: 30vh;
  width: 50vw;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.items-2 {
  background-color: red;
  height: 30vh;
  width: 24vw;
}

.items-3 {
  background-color: red;
  height: 30vh;
  width: 24vw;
}

.items-4 {
  background-color: red;
  height: 30vh;
  width: 50vw;
}
