* {
  margin: 0;
}

.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: red; */
}

.box {
  background-color: #0077b6;
  height: 300px;
  width: 300px;

  transition: all 1s ease-in-out;
}

.box:hover {
  /* Rotate => */
  /* transform: rotate(360deg); */
  /* transform: rotateY(180deg); */
  /* transform: rotateX(180deg); */
  /* transform: rotateZ(180deg); */

  /* Scale => */
  /* transform: scale(2); */
  /* transform: scale(2, 3); */
  /* transform: scaleX(2); */
  /* transform: scaleY(2); */
  /* transform: scaleZ(2); */
  /* transform: scale3d(2, 3, 2); */

  /* Translate => */
  /* transform: translate(120px, 120px); */
  /* transform: translateX(120px); */
  /* transform: translateY(120px); */
  /* transform: translateZ(120px); */
  /* transform: translate3d(42px, -62px, -135px); */
  /* transform: translate3d(120px, 120px, 120px); */

  /* transform: skewX(30deg); */

  background-color: #03045e;
  /* border-radius: 100%; */
}