* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
  min-height: 100vh;
}

body {
  background: -webkit-linear-gradient(135deg, #023e8a 50%, #bde0fe 50%);
  background-repeat: no-repeat;
}

.main-container {
  width: 460px;
  margin: 100px auto;
}

h1 {
  color: #fff;
  background-color: #023e8a;
  padding: 16px;
  border-radius: 8px;
  margin-bottom: 30px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.task-container {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"] {
  transform: scale(1.5);
  margin: 8px 20px 8px 8px;
  cursor: pointer;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #111;
}

li {
  list-style: none;
  padding: 4px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 18px;
  font-weight: 500;
  height: 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input[type=text] {
  width: 80%;
  height: 35px;
  padding: 12px;
  outline: none;
  border: none;
  margin: 8px;
  font-size: 18px;
  text-align: center;
}

::placeholder {
  color: grey;
  opacity: 1;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

button {
  border: none;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 30px;
  font-weight: 700;
  color: #f1f1f1;
  background-color: #023e8a;
  margin: 0 8px;
  cursor: pointer;
}