.blue-box {
  background-color: powderblue;
  height: 50vh;
  width: 50vw;
}

.green-box {
  background-color: green;
  height: 15vh;
  width: 20vw;
}

.main-container-1 {
  position: relative;
}

.container-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container-2 {
  display: grid;
  place-items: center;
}

.main-container-3 {
  display: grid;
  justify-content: center;
  align-items: center;
}

.main-container-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container-5 {
  position: relative;
}

.container-5 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.main-container-6 {
  display: flex;
  justify-content: center;
}

.container-6 {
  align-self: center;
}

.main-container-7 {
  display: flex;
}

.container-7 {
  margin: auto;
}

.main-container-8 {
  display: grid;
}

.container-8 {
  align-self: center;
  justify-self: center;
}