.container {
  height: 600px;
  width: 600px;
  background-color: green;
  margin: auto;
  position: relative;
}

.box {
  height: 200px;
  width: 200px;
  background-color: red;
  position: absolute;

  /* animation-name: animate-1; */
  animation-name: animate-2;
  animation-duration: 8s;

  /* how many time animation will run */
  animation-iteration-count: infinite;

  animation-timing-function: ease-out;

  /* animation-delay: 5s; */

  animation-direction: reverse;

  animation-play-state: running;
}

/* .container,
.box {
  border-radius: 100%;
} */

/* 2-step animation */
@keyframes animate-1 {
  from {
    top: 0;
    left: 0;
  }

  to {
    height: 600px;
    bottom: 0;
    left: 0;
  }
}

/* n-step animation */
@keyframes animate-2 {
  0% {
    top: 0;
    left: 0;
  }

  25% {
    top: 400px;
    left: 0;
  }

  50% {
    bottom: 0;
    left: 400px;
  }

  75% {
    bottom: 400px;
    right: 0;
  }

  100% {
    bottom: 400px;
    right: 400px;
  }
}