<!DOCTYPE html>
<html lang="en">

<head>
  <!-- this will include 'header.ejs' at header -->
  <%- include('../partials/head') -%>
</head>

<body>

  <h2> My name is omkar date. </h2>

  <footer>
    Copyright 2022 Omkar Date!
  </footer>
</body>

</html>