<!DOCTYPE html>
<html lang="en">

<head>
  <!-- this will include 'header.ejs' at header -->
  <%- include('../partials/head') -%>
</head>

<body>

  <div class="main-container">
    <h1>
      <%= today %>
    </h1>

    <div class="task-container">
      <ul>
        <% items.forEach((item)=>{ %>
          <li>
            <input type="checkbox">
            <p>
              <%= item %>
            </p>
          </li>
          <% }) %>
      </ul>
      <form action="/" method="post">
        <input type="text" name="newItem" placeholder="New task" autofocus autocomplete="off">
        <button type="submit" name="addButton" value="<%= today %>"> + </button>
      </form>
    </div>
  </div>

  <footer>
    Copyright 2022 Omkar Date!
  </footer>

</body>

</html>